name: Dependabot auto-merge
on:
  pull_request_target:
    branches: [main]
    paths:
      - ".github/workflows/*"
permissions:
      contents: write
      pull-requests: write
jobs:
  auto-merge:
    if: ${{ github.actor == 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Merge for Dependabot PRs
        run: gh pr merge $PR_URL --auto --squash
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Approve for Dependabot PRs
        run: gh pr review "$PR_URL" --approve
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
